#textBody {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-family: Lucida El Yazısı, Verdana, Arial, Tahoma, Serif;
}

#backgroundBody {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background: url(jamie-davies-r1LSO6lP_vU-unsplash.jpg);
    background-size: cover;
    background-color: #464646;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: nope;
    margin: 5px 2px;
    border-radius: 50%;
    background: #120c07;
    color: #ffce54;
}

.fa:hover {
    opacity: 0.7;
}

.banner{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    width: 100%;
    font-size: 20px;
    margin: auto;
    padding: 40px 0;
    align-items: center;
    justify-content:space-between;
}


.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 50px;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffce54;
}
.navbar ul li a:hover{
    box-shadow: 0 2px #ffce54;
    transition: 2s;
}